<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <div class="container"> -->
      <a class="navbar-brand" routerLink="/products">Shop Online</a>

      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#!">Home<span class="sr-only">(current)</span></a>
        </li>
   -->
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active-link" target="_self">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active-link" target="_self">Contact</a></li>

        </ul>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span 
      class="navbar-toggler-icon"></span></button>  -->
      <!-- <div class="collapse navbar-collapse" id="navbarResponsive"> -->

        <app-search></app-search>

        <div class="ml-auto">
          <app-card-status></app-card-status>

        </div>

          <ul class="navbar-nav">
              <!-- <li class="nav-item active">
                  <a class="nav-link" href="#!">Home<span class="sr-only">(current)</span></a>
              </li>
         -->
            <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active-link" target="_self">Login</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active-link" target="_self">Logout</a></li>
    
              </ul>
              <!-- </div> -->
              <!-- </div> -->
              </nav>
              <br />
           
              
          
              