<!--Navigation-->
<app-top-navbar></app-top-navbar>



              <!-- Page Content-->
              <div class="container">
                <router-outlet></router-outlet>

              </div>

              <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Load More</a> -->
              <br />
           

   
             
                                             
                                             <!-- Footer-->
                                             <app-footer></app-footer> 
                                         

                                             
                                             <!-- style="background-color:grey;" -->

                                             










                                       
            
                            
                              
                      
                      
                    
                            
                                    
        
              
         
        
        